@use "sass-rem" as rem;
@use "../utils" as *;

html {
  box-sizing: border-box;
  font-size: rem.convert(16px);
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: $c_black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 1.5;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;

  &:focus {
    color: $c_black;
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
    padding: 20px;
  }
}
