@use "../../../../node_modules/sass-rem" as rem;
@use "../utils" as *;

html {
  box-sizing: border-box;
  font-size: rem.convert(18px);
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;

  &:focus {
    color: $c_maroon;
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
    padding: 20px;
  }
}
