@use "sass-rem" as rem;
@use "../utils" as *;
@use "sass-mq/mq" with (
  $breakpoints: $breakpoints
);

.h1,
h1 {
  font-family: "EB Garamond", serif;
  font-size: rem.convert(36px);
  line-height: rem.convert(42px);
  margin-bottom: rem.convert(19px);
  letter-spacing: rem.convert(1px);
  font-weight: 400;
  margin-top: 0;

  @include mq.mq($from: large) {
    font-size: rem.convert(48px);
    line-height: rem.convert(55px);
    margin-bottom: rem.convert(26px);
  }
}

p,
li {
  margin-top: 0;
  letter-spacing: rem.convert(1px);
}
