@use "sass-rem" as rem;
@use "../utils" as *;
@use "sass-mq/mq" with (
  $breakpoints: $breakpoints
);

// body {
//   @include mq.mq($from: wide) {
//     background: rgb(144, 0, 255);
//   }
// }

.wrap {
  padding: 20px 0;
}

.primary {
  background-color: $c_light_teal;
  border: 1px solid $c_medium_gray;
  padding: 10px 18px;
}

.btnDisabled {
}
