@use "sass-rem" as rem;
@use "../utils" as *;
@use "sass-mq/mq" with (
  $breakpoints: $breakpoints
);

// body {
//   @include mq.mq($from: wide) {
//     background: rgb(144, 0, 255);
//   }
// }

.wrap {
  padding: rem.convert(20px 0);
}

.primary {
  font-size: rem.convert(19px);
  background-color: $c_light_teal;
  border: 1px solid $c_medium_gray;
  padding: rem.convert(10px 18px);
  font-weight: 500;
  letter-spacing: rem.convert(1px);
}

.btnDisabled {
}
