@use "sass-rem" as rem;
@use "../utils" as *;

.app_wrap {
  @include container(1200px);
  margin-top: 80px;
}

.app_inner {
  border-radius: rem.convert(20px);
  box-shadow: 1px 0px 20px 3px rgba(0, 0, 0, 0.1);
  padding: rem.convert(50px);
  background-color: $c_white;
}
