@use "sass-rem" as rem;
@use "../utils" as *;
@use "sass-mq/mq" with (
  $breakpoints: $breakpoints
);

.appWrap {
  @include container(1280px);
  margin-top: 80px;
  overflow-x: hidden;

  @include mq.mq($from: small_plus) {
    padding-left: rem.convert(50px);
    padding-right: rem.convert(50px);
  }
}

.appInner {
  border-radius: rem.convert(20px);
  box-shadow: 1px 0px 20px 3px rgba(0, 0, 0, 0.1);
  background-color: $c_white;
}

.appMain {
  padding: rem.convert(20px 50px);
}
