@use "sass-rem" as rem;
@use "../utils" as *;
@use "sass-mq/mq" with (
  $breakpoints: $breakpoints
);

.wrap {
  padding: rem.convert(20px 0);
}

.btn {
  font-size: rem.convert(20px);
  font-weight: 500;
  letter-spacing: rem.convert(1px);
  padding: rem.convert(10px 24px);
  border: 3px solid $c_black;
  margin-right: rem.convert(20px);

  &:focus,
  &:focus-within {
    border: 3px dotted $c_black;
  }
}

.btnPrimary {
  background-color: $c_light_teal;
}

.btnSecondary {
  background-color: $c_orange;
}

.btnDisabled {
}
