@use "sass-rem" as rem;
@use "../utils" as *;
@use "sass-mq/mq" with (
  $breakpoints: $breakpoints
);

.bg {
  border-top-left-radius: rem.convert(20px);
  border-top-right-radius: rem.convert(20px);
  padding: rem.convert(20px 50px);
  box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.03);
  position: relative;

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url("../../../assets/img/dots.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150px;
    height: 150px;
    right: 20px;
    top: 20px;
  }
}

.logo {
  width: 320px;
  height: 76px;
}
