@use "sass-rem" as rem;
@use "../utils" as *;
@use "sass-mq/mq" with (
  $breakpoints: $breakpoints
);

.wrap {
  display: flex;
  align-items: center;
  border-bottom: 3px dashed $c_light_teal;
  padding-bottom: rem.convert(20px);
  margin-bottom: rem.convert(20px);
}

.text {
  margin-bottom: 0;
  padding-bottom: 0;
}

.icon {
  fill: $c_black;
  background-color: $c_light_teal;
  border-radius: 100%;
  padding: rem.convert(12px);
  @include icon_shadow();
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 80px;
  margin-right: rem.convert(14px);
}
