@use "sass-rem" as rem;

// Hide visually.
@mixin visually-hidden() {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

@mixin container($max-width) {
  max-width: rem.convert($max-width);
  padding-left: rem.convert(25px);
  padding-right: rem.convert(25px);
  margin: 0 auto;
}

@mixin icon_shadow {
  box-shadow: 0 4px 9px 2px rgba(0, 0, 0, 0.08);
}

@mixin container-shadow {
  box-shadow: 1px 0px 20px 3px rgba(0, 0, 0, 0.1);
}
