// Define breakpoints
$breakpoints: (
  small: 320px,
  small_plus: 520px,
  medium: 740px,
  medium_plus: 840px,
  large: 980px,
  wide: 1200px,
  ultra_wide: 1400px,
);

// Define Colors
$c_teal: #006970;
$c_light_teal: #aaedf6;
$c_black: #181818;
$c_white: #fff;
$c_medium_gray: #6d6d6d;
$c_dark_gray: #333;
$c_orange: #faa2a9;
$c_light_gray: #e4e4e4;

// Hover and focus states.
// Can be used like so: #{$a-tags-hover} {...
$a-tags-hover: "&:active,&:focus,&:hover";
