// Define breakpoints
$breakpoints: (
  small: 320px,
  medium: 740px,
  large: 980px,
  wide: 1200px,
  ultra_wide: 1400px,
);

// Define Colors
$c_orange: #fda305;
$c_green: #deec1e;
$c_light-blue: #bee9f6;
$c_teal: #006970;
$c_light_teal: #aaedf6;
$c_red: #e02f00;
$c_maroon: #55052a;
$c_purple: #7d0096;
$c_navy: #172d6a;
$c_black: #000;
$c_white: #fff;
$c_medium_gray: #6d6d6d;
$c_dark_gray: #121212;
$c_gold: #f5a42c;
$c_brown: #532513;

// Hover and focus states.
// Can be used like so: #{$a-tags-hover} {...
$a-tags-hover: "&:active,&:focus,&:hover";
